<div class="card text-white bg-secondary mb-3" style="height: 100%">
    <div class="card-header">
        <h4 style="display: inline;">Utilisateurs</h4>
        <button onclick="addUser()" style="float: right;" type="button" class="btn btn-light"><i class="fas fa-plus"></i></button>
    </div>
    <div class="card-body" id="users-list" style="display: flex; flex-wrap: wrap; height:100%; overflow-y: auto;">
        {% include '@App/users/gestion_user_list_table.html.twig' with {'vue': 'dashboard'} %}
    </div>
</div>

<div class="modal" tabindex="-1" id="user-modal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Utilisateur</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="user-modal-body">

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('a[title="Supprimer"]').click(function (event) {
            event.preventDefault();
            $.ajax({
                type: 'GET',
                url: $(this).attr('href'),
                success: function (data) {
                    $('#user-'+data.response.id).remove();
                    alertify.success('User successfully deleted.')
                },
                error: function(jqXHR, status, error) {
                    alertify.error(error);
                }
            });
        });

        $('a[title="Editer"]').click(function (event) {
            event.preventDefault();
            $.ajax({
                type: 'GET',
                url: $(this).attr('href'),
                success: function (data) {
                    $('#user-modal-body').html(data);
                    $('form.mt-5').removeClass('mt-5');
                    $('#user-modal').modal('show');
                },
                error: function(jqXHR, status, error) {
                    alertify.error(error);
                }
            });
        });

        $('#user-modal').on('submit', 'form', function(e){
            // il est impératif de commencer avec cette méthode qui va empêcher le navigateur d'envoyer le formulaire lui-même
            e.preventDefault();

            $form = $(e.target);
            console.log($(e.target).attr('action'));
            modal = $(this);

            var $submitButton = $form.find(':submit');
            $submitButton.html('<i class="fas fa-spinner fa-pulse"></i>');
            $submitButton.prop('disabled', true);

            // ajaxSubmit du plugin ajaxForm nécessaire pour l'upload de fichier
            $form.ajaxSubmit({
                url: $form.attr('action'),
                type: 'post',
                success: function(data) {
                    if(data.status==200){
                        if(data.response.type === "added"){
                            $('#tbody-users').append(data.response.html);
                        }
                        else{
                            profil = data.response.profil === null ? 'Aucun' : data.response.profil;
                            $('#user-'+data.response.id).find('.user-username').text(data.response.username);
                            $('#user-'+data.response.id).find('.user-email').text(data.response.email);
                            $('#user-'+data.response.id).find('.user-profil').text(profil);
                        }
                        alertify.success('User successfully '+data.response.type)
                    }
                    else {
                        alert(data.response)
                    }
                    $submitButton.html('Modifier');
                    $submitButton.prop('disabled', false);
                    $('#user-modal').modal('hide');
                },
                error: function(jqXHR, status, error) {
                    alert(error)
                    $submitButton.html('Modifier');
                    $submitButton.prop('disabled', false);
                }
            });
        });
    });

    function addUser() {
        $.ajax({
            type: 'GET',
            url: '{{ path('users.create') }}',
            success: function (data) {
                $('#user-modal-body').html(data);
                $('form.mt-5').removeClass('mt-5');
                $('#user-modal').modal('show');

            }
            
        })
    }

</script>

<style>
    button[type="submit"] {
        float: right;
    }
</style>