<template>
  <div class="badge shadow-lg flex m-1 inline-block rounded-lg">
    <img
      class="badge-picture"
      :src="`${$options.API_HOST}/api/v1/badges/${rsc.id}/image`"
    >
    <transition name="fadoverlay">
      <div
        v-if="deleteMode"
        class="badge-overlay rounded-lg"
      >
        <i
          @click="$emit('remove', rsc)"
          class="material-icons icon-close p-1"
        >delete_forever</i>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  API_HOST: process.env.API_HOST,
  props: {
    rsc: {
      type: Object,
      default: () => {
        return {};
      }
    },
    deleteMode: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      modeDelete: false
    }
  }

}
</script>

<style lang="postcss" scoped>

.icon-close {
    font-size: 36px;
    color: white;
}

.icon-close:hover {
    cursor: pointer;
}

.badge-picture {
    max-width: 48px;
}

.badge {
    position: relative;
    height: 80px;
    width: 80px;
    padding: 16px;
    z-index: 1;
}

.badge-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(160, 160, 159, 0.692);
    z-index: 5;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fadoverlay-enter {
  opacity: 0;
}

.fadoverlay-enter-active {
  transition: opacity 0.5s;
}

.fadoverlay-enter-to {
  opacity: 1;
}

.fadoverlay-leave {
  opacity: 1;
}

.fadoverlay-leave-to {
  opacity: 0;
}

.fadoverlay-leave-active {
  transition: opacity 0.5s;
}
</style>
